@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .playwrite-ar-font {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }

/* global class */
body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}
.title{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

/* navigation style start */
.nav-title{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 30px auto ;
}
.nav-items-container{
    width: 45%;
    
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 4px 10px 4px 4px;
}
.item{
    font-size: 1.15rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.home-item{
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
}
#nav-icons{
    color: white;
    font-size: 2.3rem;
    display: none;
}
/* banner section start */

.banner-section{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 50%;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 4.85rem;
    font-weight: 900;
}
.banner-button-1{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    font-size: 1.15rem;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    margin:30px 14px 0 0;
}
.banner-button-2{
    border-radius: 42px;
    padding: 16px 40px;
    font-size: 1.15rem;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
}
.tutorial{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -180px;
    margin-left: -120px;
}
.orange-circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(230, 83, 60);
    margin: 28px 12px 28px 23px;
}
.tutorial-text-1{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0 0 10px 0;
}
.tutorial-text-2{
    color: rgba(239, 237, 232, 0.65);
    margin: 0;
}
.free-videos{
    width: 176px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding-left: 25px;
    margin-right: -80px;
    margin-top: -450px;
}

.free-videos-text-1{
    color: rgb(250, 250, 249);
    font-size: 2.5rem;
    font-weight: 900;
    margin: 10px 0 0 0;
}
.free-videos-text-2{
    color: rgba(239, 237, 232, 0.65);
    margin: 0;
}

.banner-image-advertisement{
    display: flex;
    justify-content: space-between;
}

/* change your habit section start */
.habit-section{
    width: 75%;
    margin: 150px auto 0 auto;
}
.habit-section-intro{
    width: 65%;
    margin: 0 auto;
    text-align: center;
}
.habit-title{
    color: rgb(255, 255, 255);
    font-size: 1.15rem;
    font-weight: 600;
}
.about-habit{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.habit{
    width: 20%;
    text-align: center;
}
.habit img{
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;


}
/* Run an extra mile section */
.extramile-section{
    width: 75%;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background-color: rgb(34, 34, 34);
}
.extramile-intro{
    width: 42%;
    margin-left: 55px;
    margin-bottom: 35px;
}
.extramile-image{
    width: 35%;
    border-radius: 20px;
    margin-right: 35px;
}



 /* responsive media query start */

 @media screen  and (max-width:576px){

    nav, .banner-section,.habit-section,.extramile-section{
        width: 85%;
        
    }
    .banner-section, .about-habit, .extramile-section {
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
        margin-bottom: 80px;
    }
    .habit-section-intro, .extramile-btn {
        width: 100%;
    }
    .habit{
        width: 80%;
        margin: 0 auto;
    }

    .habit-section-intro h1 , .extramile-intro h1{
        font-size: 2.5rem;
    }
    .banner-content h1{
        font-size: 3.5rem;
    }


    .extramile-intro{
        width: 90%;
        margin-left: 0;
        margin-bottom: 0;
    }
    .extramile-image{
        width: 90%;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }


    .nav-items{
        display: none;
    }
    #nav-icons{
        display:block;
    }
    .nav-items-container{
        text-align: end;
    }

    .banner-button-1, .banner-button-2{
        margin:20px 10px 0 0;
        font-size: 1rem;
    }
    .tutorial{
        margin-top: -350px;
        margin-left: -40px;
    }
    .free-videos{
        margin-right: -50px;
        margin-top: -550px;
    }
   
    
 }